
	body{
width:100%;
background: #8fc400; /* Old browsers */
background: -moz-linear-gradient(top, #8fc400 0%, #8fc400 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #8fc400 0%,#8fc400 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #8fc400 0%,#8fc400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
height:auto;
}


	p,form,ul,li{
		font-weight: bold;
	}
	h2,legend{
		color:gold;
	}

	input:focus{
		background-color:yellow;
	}
	#avisos{
		color:red;
	}
	header {
     display:flex;
justify-content: center;
align-items: center;
	
 height:5em;
 font-size:2em;
 text-align: center;
 padding-top:30px;
 background-image: url("C:/Users/Miguel/Desktop/FCT Asir/Proyecto/Pagina_web/imagenes/logo.png"); 
 background-repeat:no-repeat;
 background-size: 8em;
 background-color:black;
 color:white;
	

		margin-bottom: 2%;
		

}

	
	#formulario{
		display:flex;
		flex-direction: column;
		justify-content: center;	
		background: black;
		text-align:center;
		margin-top:10px;
		margin-bottom:10px;
		border : 2px solid black;
	}
	label{
		margin-top:10px;
		color:white;
	}
	input{
		margin-left:10px;
		color:black;
	}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   text-align: center;
   height:7em;
   font-size:1em;

   display:flex;
   justify-content: center;
   align-items: center;
   color:white;
   text-decoration: none;


}

.myerror {
    color:#FF0000;  /* red */
    border-color:red;
}
.myvalid {
    color:#00CC00; /* green */
   border-color: green;
}


.container{
	
	height:auto;
}


		
	#englobador{
		display:flex;
		flex-direction: row;
		justify-content: center;

		border : 2px solid black;

		background:black;	
		

	height:auto;
		
	}