

header {
     display:flex;
justify-content: center;
align-items: center;
	
 height:5em;
 font-size:2em;
 text-align: center;
 padding-top:30px;
 background-image: url("C:/Users/Miguel/Desktop/FCT Asir/Proyecto/Pagina_web/imagenes/logo.png"); 
 background-repeat:no-repeat;
 background-size: 8em;
 background-color:black;
 color:white;
	

		margin-bottom: 2%;
		

}

.form{
	color:white;
	position: relative;
	left:32%;
	font-size:20px;
}

body{font-family:Lora;background:-webkit-gradient(linear,left top,left bottom,
 	from(rgba(47,23,15,.65))),
url(../imagenes/1.jpg);background:linear-gradient(rgba(47,23,15,.65)),url(../img/1.jpg);background-attachment:fixed;background-position:center;background-size:cover}
h1,h2,h3,h4,h5,h6{font-family:Raleway}p{line-height:1.75
color:white;

}

h1,h2,h3{
	color:white;
}
p,h2{
	padding-left:2em;
}


/*dropdown MOVILES*/

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



/*fin moviles*/

.minav{
	width:90%;
height:auto;
margin-left:5%;
margin-right:5%;
color:white;

}

.englobador{

background-color:black;
width:90%;
height:auto;
margin-top:4%;
margin-left:4%;
margin-right:4%;
color:white;
font-size: 20px;

}


@media only screen and (min-width: 1200px) {
    .englobador {
        width:52%;
        margin-left:25%;
        margin-right:25%;
    }

    


}

.englobadorabout{


width:60%;
height:auto;
margin-top:1%;
margin-left:20%;
margin-right:20%;
color:white;
font-size: 20px;
}

.textabout {
	font-size: 15px;
	font-family: sans-serif;
	background: #333;
	text-align:center;
	border-radius:20px;

}




.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
   height:4em;
   font-size:1em;

   display:flex;
   justify-content: center;
   align-items: center;



}